.floating-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10; /* Ensure it is above other elements */
  animation: float 2 forwards; /* Match this duration with the timeout in useEffect */
}

.floating-text.show {
  opacity: 1;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -300%); /* Move further upwards */
    opacity: 0;
  }
}

.floating-text img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
}
